canvas#canvas-bg

.overlay

.overlay-2

.overlay-3

.menu-contain
  .grid-col
    .left-soldier
      .contain
        h1 CrosshaiR
        ul.navcard
          for i in ['continue', 'new game', 'co-op mode', 'options', 'extras']
            li.navcard-item
              a(href='#') #{i}
          
  .grid-col
    p This is a conceptual game menu using HTML, CSS and JavaScript, combining a few ideas from other pens I've seen recently. There is no flash used (except for maybe sound fallbacks). Click around. Best viewed in Chrome.
              
.clicker